gradle-wrapper.jar
/.gradle
/captures/
/gradlew
/gradlew.bat
/local.properties
GeneratedPluginRegistrant.java

# Remember to never publicly share your keystore.
# See https://flutter.dev/to/reference-keystore
key.properties
**/*.keystore
**/*.jks

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist
*.keystore
*.jks
.env
*.env.*
firebase-service-account.json
firebase-debug.log

